.li {
    margin-top: 5px;
    font-weight: 400;
    font-size: 15px;
    background: grey;
    height: 50px;
    border-radius: 3px;
    margin-bottom: 10px;
    color: white;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}
.date {
    margin-top: 5px;
    font-weight: 400;
    font-size: 15px;
    background: #212121; /* For browsers that do not support gradients */    
    height: 40px;
    border-radius: 0px;
    margin-bottom: 5px;
    color: white;
    padding: 0px;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 42%
}

.li.ng-enter {
    transition: .2s linear all;
    opacity: 0;
    transform: translateX(30px)
}

.li.ng-enter.ng-enter-active {
    opacity: 1;
    transform: translateX(0px)
}

.li.ng-leave {
    transition: .2s linear all;
    opacity: 1;
    transform: translateX(0px)
}

.li.ng-leave.ng-leave-active {
    opacity: 0;
    transform: translateX(30px)
}
