<html ng-app="egydo">

<head>
    <title>egydo </title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="js/directory.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="msapplication-TileImage" content="img/egydologo.png">
    <meta name="msapplication-TileColor" content="#1ECD97">
    <meta name="theme-color" content="#1ECD97">
    <link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="manifest" href="manifest.json"> </head>

<body ng-controller="tasklist" class="body">
    <nav class="bar">
        <div ng-include="'img/egydologo.svg'"></div>
        <input type="text" class="search" placeholder="دوٌر" ng-model="search">
        
    </nav>
    <ul>
        <li ng-repeat="item in list |filter:search | orderBy:'time' " ng-class="{'over12':item.time>12 , 'under12':item.time<12 , 'equal12':item.time==12}"> {{item.name}} <span>{{item.time}}</span>
            <a class="time" ng-include="'img/doneall.svg'" ng-click="remove(item)"></a>
        </li>
    </ul>
    <div id="container-floating">
        <button class="nd1 nds" id="myBtn">+</button>
        <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" onclick="" class="">
            <p class="plus" align="center">+</p>
        </div>
    </div>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content"> <button class="close">&times;</button>
            
            <form class="newtodo" ng-submit="addtask()">
            <input type="text" placeholder="هات اخرك" class="newtodoinput" ng-model="name" ng-minlength="3" ng-maxlength="50">
            <input type="number" placeholder="time" class="newtodoinput" ng-model="time" ng-minlength="1" ng-maxlength="2" min="0" max="23.59">
                <input type="submit" class="submit" value="submit" >
                 </form>
            <br>
            
        </div>
    </div>
    <script src="js/Main.js"></script>
</body>

</html>