<html ng-app="egydo">

<head>
    <title>egydo </title>
    <!--style-->
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
    <!-- links for pwa application-->
    <meta name="msapplication-TileImage" content="img/egydologo.png">
    <meta name="msapplication-TileColor" content="#1ECD97">
    <meta name="theme-color" content="#1ECD97">
    <link rel="manifest" href="manifest.json">
    <!--script-->
    <script src="js/angular.min.js"></script>
    <script src="js/directory.js"></script>
</head>

<body ng-controller="tasklist as dirlist" class="body">
    <!--navigation-->
    <nav class="bar">
        <!--app logo-->
        <div ng-include="'img/egydologo.svg'"></div>
        <!--search-->
        <input type="text" class="search" placeholder="دوٌر" ng-model="search">
        <!--new task-->
        <button class="button" ng-if="!dirlist.toggle" ng-click="dirlist.toggle = true">انا عايز</button>
        
        <form ng-class="{'hidden': !dirlist.toggle}" class="form" ng-submit="dirlist.addtask()">
                <input class="ntask" type="text" placeholder="هات اخرك" class="newtodoinput" ng-model="dirlist.name" ng-minlength="3" ng-maxlength="50">
                <input class="ntask" type="number" placeholder="الساعة كام" class="newtodoinput" ng-model="dirlist.time" ng-minlength="1" ng-maxlength="2" min="0" max="23.59">
                <div></div>
                <input type="submit" class="button" value="submit">
            </form>
        <button class="button" ng-if="dirlist.toggle" ng-click="dirlist.toggle = false">كبٌر دماغك</button>    
    </nav>
    <ul>
        <!--list item-->
        <li ng-repeat="item in dirlist.list |filter:search | orderBy:'time' " ng-class="{'over12':item.time>12 , 'under12':item.time<12 , 'equal12':item.time==12}">
            {{item.name}} <span>{{item.time}}</span>
            <a class="time" ng-include="'img/doneall.svg'" ng-click="dirlist.remove(item)"></a>
        </li>
    </ul>
    
    
   
</body>

</html>